.containerHero {    
    margin-top: 100px;
    
    .heroTitle h2 {
        font-size: 40px;
        font-weight: 800;     
        line-height: 55px;           
    }
        
    .heroTitle h2:nth-child(2) {
        margin-left: 50px;
    }

    .heroTitle h2:nth-child(3) {
        margin-left: 100px;
    }

    .heroCopy p {
        font-size: 13px;
        line-height: 20px;
        letter-spacing: .14px;
        font-weight: 500;
        margin: 30px 60px 30px 0;
    }

    .heroBtn button {
        position: relative;
        width: 148px;
        height: 36px;
        line-height: 4px;
        border: none;
        border-radius: 25px;
        background: linear-gradient(270deg, #d71489 -1.04%, #004788 100%);
        font-size: 13px;
        margin-right: 15px;
    }

    .heroBtn button span {
        position: relative;
        z-index: 3;
    }

    .heroBtn button::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 25px;
        background: linear-gradient(270deg, #004788 -1.04%, #d71489 100%);
        z-index: 2;
        opacity: 0;
        transition: all ease-out 0.3s;
    }

    .heroBtn button:hover::after {
        opacity: 1;
        border: 1px solid #daa520;
    }

    .vectorImg {
        position: relative;
        top: -50px;
    }

    .userImg {
        position: absolute;
        width: 250px;
        border-radius: 50%;        
        top: 40px;
        left: 140px;
    }
}
